{% extends "layouts/default.njk" %}
{% from "partials/icon.njk" import icon %}

{% set stars = githubData[code].stars %}
{% set forks = githubData[code].forks %}

{% block head %}
  {% if tags.length > 1 %}
    <meta name="twitter:label1" value="Tagged" />
    <meta name="twitter:data1" value="{{ tags | except("examples") | join(", ") }}" />
  {% endif %}
  {% if stars %}
    <meta name="twitter:label2" value="Stars" />
    <meta name="twitter:data2" value="{{ stars }}" />
  {% endif %}
{% endblock %}

{% block main %}
  <main class="main main--example" id="main">
    {{ content | safe }}
  </main>
  <aside class="sidebar sidebar--details">
    <section class="sidebar__section">
      <a href="https://github.com/{{ code }}" class="button">View code {{ icon({ id: "github", title: "GitHub" }) }}</a>
      {% if stars and forks %}
        <dl class="github-stats github-stats--sidebared">
          <dt>{{ icon({ id: "star", title: "Star" }) }} Stars</dt>
          <dd>{{ stars }}</dd>
          <dt>{{ icon({ id: "fork", title: "Fork" }) }} Forks</dt>
          <dd>{{ forks }}</dd>
        </dl>
      {% endif %}
    </section>
  </aside>
  {% include "partials/sidebar.njk" %}
{% endblock %}
