{% extends "layouts/default.njk" %}

{% from "partials/search.njk" import search %}
{% from "partials/examples.njk" import examples %}

{% block main %}
  <main class="main main--examples" id="main">
    <header class="header">
      <div>
        {{ content | safe }}
      </div>
      <a href="https://github.com/{{ pkg.repository }}/issues/new" class="button">Add a function example</a>
    </header>

    {% if (collections.examples | featured).length %}
      <section class="section section--examples section--featured">
        <h2 class="section__heading">Featured</h2>
        {{ examples({
          examples: collections.examples | featured,
          githubData: githubData,
          ariaLive: true
        }) }}
      </section>
    {% endif %}

    {{ search({
      searchForm: true,
      backButton: false,
      collections: collections
    }) }}

    <section class="section section--examples" data-search-section="">
      <h2 class="section__heading">All examples</h2>
      {{ examples({
        examples: collections.examples,
        githubData: githubData,
        ariaLive: true
      }) }}
    </section>
  </main>
  {% include "partials/sidebar.njk" %}
{% endblock %}

{% block foot %}
  <script type="text/javascript" src="/assets/js/scripts.js"></script>
{% endblock %}
