---
title: Netlify Functions
layout: layouts/page.njk
---
{% from "partials/examples.njk" import examples %}

<header class="header">
  <div>
    {{ content | safe }}
  </div>
  <a href="/add-example/" class="button">Add a function example</a>
</header>

{% include "partials/search.njk" %}

{{ examples({
  examples: collections.examples
}) }}
