{% extends "layouts/default.njk" %}

{% from "partials/card.njk" import card %}
{% from "partials/icon.njk" import icon %}

{% block main %}
  <main class="main main--tutorials" id="main">
    <header class="header">
      <div>
        {{ content | safe }}
      </div>
      <a href="https://github.com/{{ pkg.repository }}" class="button">Submit a tutorial</a>
    </header>


    <ul class="examples examples--tutorials" role="list">
      {% for tutorial in tutorials | sort(attribute='date') | reverse %}

        {% set title %}
          {{ tutorial.title }} {{ icon({ id: "external-link", uniqueId: loop.index, title: "External link" }) }}
        {% endset %}

        {% set timeStamp %}
          Posted: <time datetime="{{ tutorial.date }}">{{ tutorial.date | readableDate }}</time>
        {% endset %}

        <li class="examples__item">
          {{ card({
            url: tutorial.url,
            title: title | safe,
            description: tutorial.description,
            details: timeStamp | safe
          }) }}
        </li>
      {% endfor %}
    </ul>
  </main>
  {% include "partials/sidebar.njk" %}
{% endblock %}

