.card {
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(3, max-content) 1fr;
  grid-row-gap: 10px;
  border-radius: $border-radius;
  background: white;
  color: $color__neutral--darkest;
  box-shadow: $shadow__card;
  transition: all 0.15s ease;
  &:hover {
    transform: scale(1.05);
  }

  &__title,
  &__description {
    margin-top: 0;
  }

  &__title {
    color: $color__primary;
    word-break: normal;
  }

  &__details {
    color: $color__neutral--dark;
  }
}
