.examples {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  align-items: stretch;

  @media (min-width: $breakpoint__medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $breakpoint__large) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    display: grid;
  }

  &__item[data-search-visibility] {
    visibility: visible;
    opacity: 1;
  }

  &__item[data-search-visibility="hidden"] {
    visibility: hidden;
    opacity: 0;
    transform: scale(0.9);
    display: none;
  }
}
