form {
  display: grid;
  grid-row-gap: 1rem;
  max-width: 75ch;
}

label {
  cursor: pointer;
  color: $color__neutral--dark;
}

input,
textarea {
  width: 100%;
  border-radius: $border-radius;
  padding: 0.6em 1em 0.65em;
  box-shadow: inset 0 0 0 2px $color__neutral--light;
  outline-color: transparent;
  outline-offset: -2px;
  border: none;
  transition: outline 0.2s ease;
  &:focus {
    outline-color: $color__primary;
  }
  &::-webkit-search-cancel-button {
    display: none;
  }
}

textarea {
  resize: vertical;
}
