.main {
  display: grid;
  grid-gap: 2rem;
  padding: 3rem 1rem 2rem;

  @media (min-width: $breakpoint__medium) {
    padding: 2rem;
    grid-column-end: span 2;
  }

  &--page,
  &--example,
  &--tutorials {
    max-width: 75ch;
  }

  &--page,
  &--example {
    display: block;
  }

  &--page {
    overflow-x: hidden;
  }

  @media (min-width: $breakpoint__medium) {
    &--example {
      grid-column-end: auto;
    }
  }
}

.header {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  justify-items: start;

  @media (min-width: $breakpoint__medium) {
    grid-template-columns: 1fr max-content;
    align-items: end;
  }
}
