.navigation {
  &__link {
    display: block;
    padding: 0.2em 0;
    color: $color__neutral--dark;
  }

  &__link:hover,
  &__item--current &__link {
    color: $color__neutral--darkest;
  }

  &__item--current &__link {
    text-decoration: underline;
  }

  &__list--tags {
    display: grid;
    @media (min-width: $breakpoint__huge),
      (min-width: $breakpoint__small) and (max-width: $breakpoint__large) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
