.navigation {
  &__link {
    display: block;
    padding: 0.2em 0;
    color: $color__neutral--dark;
  }
  &__link:hover,
  &__item--current &__link {
    color: $color__neutral--darkest;
  }
  &__list--tags {
    display: flex;
    flex-wrap: wrap;
  }
  &__list--tags &__item {
    margin-right: 1em;
    font-size: 0.85em;
  }
}
