body {
  font-family: system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color__neutral--darkest;
  font-weight: 500;
  margin: 1.618em 0 0;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p,
p + p {
  margin-top: 0.5em;
}

h1 {
  margin-top: 0;
  font-size: 2em;
  font-weight: 600;
  line-height: 1.333;
}

h2 {
  font-size: 1.618em;
  font-weight: 600;
  line-height: 1.333;
}

h3 {
  font-size: 1.3em;
  line-height: 1.333;
}

h4 {
  font-size: 1.1em;
  line-height: 1.4;
}

p {
  color: $color__neutral--dark;
}

sup {
  font-size: 0.5em;
}

hr {
  background-color: $color__neutral--light;
  border: 0;
  height: 1px;
}

a {
  color: $color__primary;
  outline-color: $color__primary--light;
  text-decoration: none;
}

.button {
  background: $color__primary;
  border: none;
  box-shadow: none;
  width: auto;
  border-radius: $border-radius;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 0.6em 1em 0.65em;
  text-decoration: none;
  transition: 0.2s ease;
  outline-color: transparent;
  outline-offset: -2px;
  &:focus,
  &:hover {
    color: white;
    opacity: 0.85;
  }
  &:focus {
    outline-color: $color__primary;
    background-color: $color__primary--dark;
  }
  &:active {
    background-color: $color__primary--dark;
  }
  &:disabled {
    opacity: 0.38;
    pointer-events: none;
  }

  &--icon {
    background: none;
    color: $color__neutral--mid;
    font-size: 1em;
    padding: 0.618em;
  }
  &--icon:focus,
  &--icon:hover {
    background: none;
    color: $color__neutral--darkest;
  }
  &--icon:active {
    background: none;
    color: $color__neutral--darkest;
  }

  &--secondary {
    background: $color__neutral--lighter;
    box-shadow: none;
    color: $color__neutral--darkest;
    font-size: 0.85rem;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    font-weight: 500;
    opacity: 0.8;
    padding: 0.5em 1em;
  }
}
