// Globals
@import "variables";
@import "reset";
@import "typography";

// Partials
@import "card";
@import "examples";
@import "form";
@import "github-corner";
@import "main";
@import "icon";
@import "navigation";
@import "search";
@import "sidebar";

html {
  background: $color__primary--lightest;
}

body {
  margin: 0;
  @media (min-width: 45rem) {
    display: grid;
    align-items: start;
    grid-template-columns: minmax(200px, 20%) 1fr;
  }
}

// Semantic lists without list presentation
ul[role="list"] {
  list-style: none;
  padding: 0;
  margin: 0;
}

// Accessible content skip links and navigation skip link
.skip-to-navigation-link,
.skip-to-content-link {
  transform: translateY(-100%);
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}

.skip-to-content-link {
  left: 3rem;
}

.skip-to-navigation-link,
.skip-to-navigation-link:focus,
.skip-to-content-link:focus {
  transform: translateY(0%);
}

@media (min-width: 45rem) {
  .skip-to-content-link {
    left: 0;
  }
  .skip-to-navigation-link {
    position: absolute;
    transform: translateY(-100%);
  }
  .skip-to-navigation-link:focus {
    transform: translateY(0%);
  }
}
