---
layout: null
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - null
    - all
    - page
    - examples
    - function
    - helloExample
    - asyncExample
    - nameExample
    - namePostExample
    - envExample
    - fetchExample
    - slackExample
permalink: /tag/{{ tag }}/
eleventyComputed:
  title: "{{ tag }}"
---
{% extends "layouts/default.njk" %}

{% from "partials/examples.njk" import examples %}
{% set taglist = collections[ tag ] %}

{% block main %}
  <main class="main" id="main">
    <header class="header">
      <h1>Tagged “{{ tag }}”</h1>
    </header>

    {{ examples({
      examples: taglist | reverse
    }) }}
  </main>
  {% include "partials/sidebar.njk" %}
{% endblock %}
