---
sitemap:
  ignore: true
---
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Content Manager – {{ site.title }}</title>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>

  <body>
    <!-- Include the script that builds the page and powers Netlify CMS -->
    <script src="https://unpkg.com/netlify-cms@^2.0.0/dist/netlify-cms.js"></script>
    <script>
      CMS.registerPreviewStyle("/assets/css/styles.css");
    </script>
  </body>

</html>
