---
title: "Netlify Functions"
layout: "layouts/default.njk"
---

<main>
  <ul role="list">
    {% for example in collections.examples %}
      <li><a href="{{ example.url }}">{{ example.data.title }}</a></li>
    {% endfor %}
  </ul>
</main>
<aside>
  <section>
    <h3>Tags</h3>
  </section>
</aside>
