<!doctype html>
<html lang="en">
  <head>
    <title>Netlify Functions Examples</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.14.0/themes/prism.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Netlify Functions Examples</h1>
    <p>
      Hi there! This is my playground to test out
      <a href="https://www.netlify.com/docs/functions">Netlify’s Lambda Functions</a>.
    </p>
    <p>
      The code for this site is on
      <a href="https://github.com/imorente/netlify-functions-example">GitHub</a>.
    </p>

    <article>
      <h2>Hello, World!</h2>
      <p>
        The <code>hello</code> function has the amazing functionality of rendering "Hello, World".
      </p>
      <details>
        <summary>See the code</summary>
        <pre class="language-js"><code><%= require('html-loader!./lambda/hello.js') %></code></pre>
      </details>
      <h3>Try it out</h3>
      <p><a href="/.netlify/functions/hello">Say hello!</a></p>
    </article>

    <article>
      <h2>Hello, World! (async version)</h2>
      <p>
        <code>hello_async</code> has the same amazing functionality as
        <code>hello</code>, but the code is simpler thanks to AWS Lamba’s
        support for Node.js 8.10. Yay for <code>async</code>!
      </p>
      <details>
        <summary>See the code</summary>
        <pre class="language-js"><code><%= require('html-loader!./lambda/hello_async.js') %></code></pre>
      </details>
      <h3>Try it out</h3>
      <p><a href="/.netlify/functions/hello_async">Say hello!</a></p>
    </article>

    <article>
      <h2>Hello, {name}</h2>
      <p>
        Let’s get fancy! <code>hello_name</code>
        reads parameters from the request to customize the greeting.
      </p>
      <details>
        <summary>See the code</summary>
        <pre class="language-js"><code><%= require('html-loader!./lambda/hello_name.js') %></code></pre>
      </details>
      <h3>Try it out</h3>
      <form action="/.netlify/functions/hello_name">
        <p>
          <label>What’s your name?<br/><input type="text" name="name"></label>
        </p>
        <p><button type="submit">Say hello!</button></p>
      </form>
    </article>

    <article>
      <h2>Hello, {name} (POST version)</h2>
      <p>
        Let’s make our function accept only form submissions sent with POST.
        <code>hello_name_post</code> checks the HTTP method in the request
        before processing the submission, and gives an error when it’s not POST.
      </p>
      <details>
        <summary>See the code</summary>
        <pre class="language-js"><code><%= require('html-loader!./lambda/hello_name_post.js') %></code></pre>
      </details>
      <h3>Try it out</h3>
      <form action="/.netlify/functions/hello_name_post" method="POST">
        <p>
          <label>What’s your name?<br/><input type="text" name="name"></label>
        </p>
        <p><button type="submit">Say hello!</button></p>
      </form>
      <a href="/.netlify/functions/hello_name_post?name=Me">Show me the error</a>
    </article>

    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.14.0/prism.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
