<!doctype html>
<html lang="en">
  <head>
    <title>Netlify Functions Examples</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.14.0/themes/prism.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Netlify Functions Examples</h1>
    <p>
      Hi there! This is my playground to test out
      <a href="https://www.netlify.com/docs/functions">Netlify’s Lambda Functions</a>.
    </p>
    <p>
      The code for this site is on
      <a href="https://github.com/imorente/netlify-functions-example">GitHub</a>.
    </p>

    <article>
      <h2>Hello, World!</h2>
      <pre class="language-js"><code><%= require('html-loader!./lambda/hello.js') %></code></pre>
      <h3>Try it out</h3>
      <p><a href="/.netlify/functions/hello">Say hello!</a></p>
    </article>

    <article>
      <h2>Hello, World! (async version)</h2>
      <pre class="language-js"><code><%= require('html-loader!./lambda/hello_async.js') %></code></pre>
      <h3>Try it out</h3>
      <p><a href="/.netlify/functions/hello_async">Say hello!</a></p>
    </article>

    <article>
      <h2>Hello, {name}</h2>
      <pre class="language-js"><code><%= require('html-loader!./lambda/hello_name.js') %></code></pre>
      <h3>Try it out</h3>
      <form action="/.netlify/functions/hello_name">
        <p>
          <label>What’s your name?<br/><input type="text" name="name"></label>
        </p>
        <p><button type="submit">Say hello!</button></p>
      </form>
    </article>

    <article>
      <h2>Hello, {name} (POST version)</h2>
      <pre class="language-js"><code><%= require('html-loader!./lambda/hello_name_post.js') %></code></pre>
      <h3>Try it out</h3>
      <form action="/.netlify/functions/hello_name_post" method="POST">
        <p>
          <label>What’s your name?<br/><input type="text" name="name"></label>
        </p>
        <p><button type="submit">Say hello!</button></p>
      </form>
      <p><a href="/.netlify/functions/hello_name_post?name=Me">Show me the error</a></p>
    </article>

    <article>
      <h2>Read environment variables</h2>
      <pre class="language-js"><code><%= require('html-loader!./lambda/hello_env.js') %></code></pre>
      <h3>Try it out</h3>
      <p><a href="/.netlify/functions/hello_env">Show me the environment variable</a></p>
    </article>

    <article>
      <h2>Send a Slack message</h2>
      <pre class="language-js"><code><%= require('html-loader!./lambda/hello_slack.js') %></code></pre>
      <h3>Try it out</h3>
      <form action="/.netlify/functions/hello_slack" method="POST">
        <p>
          <label>What’s your name?<br/><input type="text" name="name"></label>
        </p>
        <p><button type="submit">Say hello!</button></p>
      </form>
    </article>

    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.14.0/prism.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
