---
permalink: '_redirects'
sitemap:
  ignore: true
---

# Site migration
/add-tutorial/          /
/post-1/                /
/post-2/                /
/post-3/                /
/examples/              /

# All tag is really the homepage
/tag/all/               /
