:root {
  --baseFontSize: 18px;
  --fontFamilySans: Roboto, sans-serif,
    "Segoe UI Emoji", "Segoe UI Symbol";
  --fontFamilyMono: "Roboto Mono", monospace;
  --textColor: rgba(14, 30, 37, 0.87);
  --borderColor: #e9ebeb;
  --accentColor: #00ad9f;
}

body {
  font-family: var(--fontFamilySans);
  font-size: var(--baseFontSize);
  line-height: 1.5;
  max-width: 40em;
  padding: 1em;
  margin: auto;
  background: white;
  color: var(--textColor);
  counter-reset: example;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  line-height: 1.2;
  margin-top: 1.5em;
  margin-bottom: 0;
  font-weight: 500;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.375em;
  margin-top: 3em;
}

h3 {
  font-size: 1.125em;
}

p {
  margin: 1em 0 1.5em;
}

a {
  color: inherit;
  text-decoration: underline;
}

article {
  counter-increment: example;
}

article h2::before {
  content: counter(example) ". ";
}

ul {
  padding-left: 1.25em;
  list-style: disc outside;
}

ol {
  list-style: none;
  padding-left: 0;
  counter-reset: step;
}

ol li::before {
  counter-increment: step;
  content: counter(step) ". ";
  float: left;
  margin-right: 0.3em;
}

input {
  box-sizing: border-box;
  width: 100%;
  margin-top: 0.5em;
  padding: 0 0.5em;
  height: 2.5em;
  line-height: 2.5;
  border: 2px solid var(--borderColor);
  border-radius: 4px;
  font-weight: bold;
}

button,
.button {
  box-sizing: border-box;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.08);
  border: 0;
  background: var(--accentColor);
  color: white;
  border-radius: 4px;
  font-size: 1em;
  font-weight: 500;
  height: 2.5em;
  line-height: 2.5;
  padding: 0 1em;
  min-width: 10em;
  text-align: center;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transform: translateY(0);
  transition: all .15s ease;
}

button:focus,
button:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
  transform: translateY(-1px);
}

form {
  max-width: 20em;
}

pre,
code {
  font-family: var(--fontFamilyMono);
  font-size: 14px;
  background-color: #fafafa;
  border-radius: 4px;
}

code {
  padding: 0.2em 0.4em;
}

pre {
  padding: 1em;
  overflow: auto;
}

pre code {
  font-size: 100%;
  background: transparent;
  padding: 0;
  border: 0;
}

code .token {
  padding: 0;
  margin: 0;
}

.language-php .token.operator,
code .token.atrule,
code .token.keyword {
  color: #6772e5;
}

code.language-markup .token.namespace,
code .token.attr-name,
code .token.selector,
code .token.tag,
code .token.tag * {
  color: #0075d6;
}

code .token.attr-name {
  font-style: italic;
}

code .token.comment {
  color: #91a2b0;
}

code.language-url,
code .token.function,
code .token.url {
  color: #3297d3;
}

.language-ruby .token.constant + .token.punctuation,
.language-ruby .token.constant + .token.punctuation + .token.symbol,
code .token.boolean,
code .token.builtin,
code .token.class-name,
code .token.constant,
code .token.namespace {
  color: #2191ef;
}

code .token.number {
  color: #fa755a;
}

.language-bash .token.function,
code .token.curl,
code .token.option,
code .token.variable {
  color: teal;
}

.language-bash .token.option,
code.language-css .property,
code .token.parameter,
code .token.symbol {
  color: #d14;
}

code.language-html .token.attr-value > .punctuation:not(:first-child),
code.language-markup .token.attr-value > .punctuation:not(:first-child),
code .token.attr-value,
code .token.macro,
code .token.string,
code .token.value {
  color: #159570;
}

code .token.macro .keyword {
  color: #064508;
}
