:root {
  --fontFamilySans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fontFamilyMono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

html {
  font-size: 110%;
}

body {
  font-family: var(--fontFamilySans);
  line-height: 1.6;
  max-width: 42em;
  padding: 1em;
  margin: auto;
  background: white;
  color: rgba(0,0,0,0.84);
  counter-reset: example;
}

a {
  color: currentColor;
  text-decoration: underline;
}

h1,
h2,
h3 {
  margin-bottom: 0;
  line-height: 1.2;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
  margin-top: 3em;
  counter-increment: h2;
}

h3 {
  font-size: 1.1em;
  margin-top: 2em;
}

article {
  counter-increment: example;
}


h2::before {
  content: '#' counter(example);
  float: left;
  display: block;
  margin-left: -2em;
  opacity: 0.44;
  font-weight: normal;
}

pre,
code,
code[class*="language-"],
pre[class*="language-"] {
  font-family: var(--fontFamilyMono);
}

code {
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
  padding: 0.2em 0.4em;
  margin: 0;
}

pre {
  padding: 1em;
  overflow: auto;
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 80%;
}

pre code {
  font-size: 100%;
}

button,
input {
  padding: 0.5em 1em;
}

summary {
  font-size: 85%;
  font-weight: bolder;
  display: block;
  outline: none;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "›";
  display: inline-block;
  margin-left: 0.25em;
  font-size: 1.333em;
  line-height: 1;
  position: relative;
  top: 0.05em;
}

[open] summary::after {
  transform: rotate(90deg) translate3d(30%, -20%, 0);
}

@keyframes present-yourself {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

[open] pre {
  opacity: 0;
  transform: translateY(-1rem);
  animation: present-yourself 0.2s ease forwards;
}
