{% from "partials/icon.njk" import icon %}

{% macro card(props) %}
  <a href="{{ props.url }}" class="card">
    {% if props.stars or props.forks %}
      <dl class="github-stats">
        <dt>{{ icon({ id: "star", uniqueId: props.fileSlug, title: "Star" }) }} Stars</dt>
        <dd>{{ props.stars }}</dd>
        <dt>{{ icon({ id: "fork", uniqueId: props.fileSlug, title: "Fork" }) }} Forks</dt>
        <dd>{{ props.forks }}</dd>
      </dl>
    {% endif %}
    <h3 class="card__title">{{ props.title | safe }}</h3>
    <p class="card__description">{{ props.description | safe | escape }}</p>
    <small class="card__details">{{ props.details }}</small>
  </a>
{% endmacro %}
