{% from "partials/card.njk" import card %}

{% macro examples(props) %}
  <ul class="examples" role="list">
    {% for example in props.examples %}
      <li class="examples__item" data-search-visibility="visible">
        {{ card({
          url: example.url,
          title: example.fileSlug,
          description: example.data.title,
          details: example.data.tags | except("examples") | join(", ") if example.data.tags else "",
          stars: props.githubData[example.data.code].stars,
          forks: props.githubData[example.data.code].forks
        }) }}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
