{% from "partials/card.njk" import card %}

{% macro examples(props) %}
  <ul class="examples" role="list">
    {% for example in props.examples %}
      <li class="examples__item" data-search-visibility="visible">
        {{ card({
          url: example.url,
          title: example.fileSlug,
          description: example.data.title,
          details: example.data.tags.slice(1) | join(", ") if example.data.tags else "",
          stargazers: example.data.githubData.stargazers,
          forks: example.data.githubData.forks
        }) }}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
