<form method="post" action="/.netlify/functions/submissions">
  <div>
    <label for="name">Example name</label>
    <input name="name" placeholder="Example name" id="name" type="text">
  </div>
  <div>
    <label for="code">Repository or source code URL</label>
    <input name="code" placeholder="https://github.com/repo/name" id="url" type="url" inputmode="url">
  </div>
  <div>
    <label for="url">Supportive URL to demo documentation <i>(optional)</i></label>
    <input name="url" placeholder="https://article-url.com" id="url" type="url" inputmode="url">
  </div>
  <div>
    <label for="tags">Tags <i>(optional)</i></label>
    <input name="tags" id="tags" type="text">
  </div>
  <div>
    <label for="description">Description <i>(optional, accepts markdown)</i></label>
    <textarea rows="7" name="description" placeholder="Add a brief desription of the example" id="description"></textarea>
  </div>
  <div>
    <label for="email">Your email <i>(optional)</i></label>
    <input name="email" placeholder="me@website.com" id="email" type="email" inputmode="email">
  </div>
  <div>
    <input class="button" type="submit" value="Add function example">
  </div>
</form>
