{% macro icon(props) %}
  <svg width="{{ props.width | default("16", true) }}" height="{{ props.height | default("16", true) }}" class="icon  icon--{{ props.id | default("link", true) }}" role="img" alt="{{ props.title | default(props.id, true) }}">
    <title>{{ props.title | default(props.id, true) }}</title>
    <use xlink:href="#{{ props.id | default("link", true) }}" fill="{{ props.color | default("CurrentColor", true) }}">
    </use>
  </svg>
{% endmacro %}
