{% set tagList = collections | keys | except("null", "all", "page", "examples") %}

<nav class="navigation navigation--tags">
  <ul class="navigation__list navigation__list--tags" role="list">
    {% for tag in tagList %}
      <li class="navigation__item{% if page.url == "/tag/" + tag + "/" %}  navigation__item--current{% endif %}">
        <a class="navigation__link" href="/tag/{{ tag | replace(" ", "-") }}/">{{ tag }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
