{% from "partials/icon.njk" import icon %}

<div class="search">
  <form class="search__form" action="" data-search>
    <label class="search__label" for="search-field">Search all {{ collections.examples.length }} examples:</label>
    <input class="search__input" type="search" id="search-field" name="search-field" placeholder="e.g. Fetch" autocomplete="off" />
    {{ icon({ id: "search", title: "Search" }) }}
    <p class="search__empty-message" hidden data-search-empty-message>{{ site.examples.emptyMessage }}</p>
  </form>
  <details class="search__tag-select">
    <summary class="search__tag-summary">Browse by tag</summary>
    {% include "partials/navigation-tags.njk" %}
  </details>
</div>
