<form class="search" action="">
  <label class="label" for="search">Search all {{ collections.examples.length }} examples:</label>
  <input class="input" id="search" type="search" name="search" placeholder="e.g. Fetch" autocomplete="off" />
</form>
