<aside class="sidebar">
  <a href="/" class="logo">
    <img width="148" height="49" src="{{ site.logo }}" alt="{{ site.title }}">
  </a>
  <section class="sidebar__section">
    {% include "partials/navigation.njk" %}
  </section>
  <section class="sidebar__section  sidebar__section--tags">
    <h4 class="sidebar__heading">Browse by tag</h4>
    {% include "partials/navigation-tags.njk" %}
  </section>
</aside>
