<aside class="sidebar">
  <section class="sidebar__section sidebar__section--logo">
    <a href="{{ site.parentUrl }}" class="logo">
      <img width="134" height="40" src="{{ site.logo }}" alt="{{ site.parentTitle }}">
    </a>
    <a href="{{ site.url }}" class="logo logo--child">
      <img width="150" height="40" src="{{ site.logoChild }}" alt="{{ site.childTitle }}">
    </a>
  </section>
  <section class="sidebar__section">
    {% include "partials/navigation.njk" %}
  </section>
  <section class="sidebar__section  sidebar__section--tags">
    <h4 class="sidebar__heading">Browse by tag</h4>
    {% include "partials/navigation-tags.njk" %}
  </section>
</aside>
