{% from "partials/icon.njk" import icon %}

{% if site.navigation %}
  <nav class="nav" data-nav>
    <ul role="list" class="list  list--nav">
      {% for item in site.navigation %}

        {% if '://' in item.url %}
          {% set url = item.url %}
        {% else %}
          {% set url = item.url %}
        {% endif %}

        <li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">
          <a href="{{ url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <button class="button  button--icon" aria-label="Menu toggle" data-nav-button>
      {{ icon({ id: "nav", title: "Menu" }) }}
    </button>
  </nav>
{% endif %}
